@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap')
$dark: #212121

$title-color: #EEEEEE
$navbar-background-color: $dark
$body-background-color: #FAFAFA

h2
  font-family: Comfortaa

@import "../node_modules/bulma/bulma.sass"